*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* --------------------------------nav bar---------------------------- */
nav{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo{
    display: flex;
}

.lo{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color: #686868;
}

.log{
    padding-left:5px;
    color:#7B8B8E;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #0E86D4;
}

.menu-icon{
    font-size: 26px;
    display: none;
    cursor: pointer;
    margin-left: 220px;
}

/* -----------------------------nav bar responsive--------------------- */

@media (max-width: 768px){
    nav ul{
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        background: #fff;
        transition: 0.4s ease;
    }

    nav ul li{
        margin: 15px;
    }

    nav ul.show{
        height: 260px;
        padding-top: 10px;
    }

    .menu-icon{
        display: block;
    }
}
/* ------------------------------ HOME------------------------------ */
.home{
    padding:60px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.text{
    width:50%;
    min-width:300px;
}

.text h1{
    font-size:32px;
    font-weight:700;
    margin-bottom:20px;
    line-height:1.3;
}

.text p{
    color:#697c8b;
    margin-bottom:25px;
    font-size:16px;
}

.btn-box{
    display:flex;
    gap:15px;
}

.btn1, .btn2{
    padding:12px 25px;
    border-bottom-left-radius:20px;
    border-top-right-radius:20px;
    text-decoration:none;
    font-weight:600;
}

.btn1{
    background:#0E86D4;
    color:#FFFFFF;
}

.btn2{
    background:#6C757D;
    color:#FFFFFF;
}

.image img{
    width:380px;
    max-width:100%;
}

.blue-line{
    width:100%;
    height:5px;
    background:#007bff;
    margin-top:40px;
}

/* ------------------------------home responsive------------------------- */
@media (max-width:900px){
    .home{
        flex-direction:column;
        text-align:center;
    }
    .text{
        width:100%;
    }
    .image{
        margin-top:20px;
    }
}

@media (max-width:600px){
    .text h1{
        font-size:26px;
    }
    .btn-box{
        flex-direction: column;
}
}
.title{
    font-size:32px;
    font-weight:700;
    margin-top:40px;
    text-align: center;
}

/* ---------------------------- about----------------------- */
.about{
    padding:40px 40px;
}

.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
    margin-top:30px;
}

.about-img img{
    width:350px;
    max-width:100%;
}

.about-text{
    width:50%;
    min-width:300px;
}

.about-text h3{
    font-size:28px;
    font-weight:700;
    margin-bottom:20px;
}

.about-text p{
    color:#697c8b;
    font-size:16px;
    line-height:1.6;
}

.blue-line{
    width:100%;
    height:5px;
    background:#0095ff;
    margin-top:40px;
}

/* -------------------------------about responsive-------------------------- */
@media (max-width:900px){
    .about-container{
        flex-direction:column;
        text-align:center;
    }

    .about-text{
        width:100%;
    }
     .blue-line{
        margin-right:60px;
    }

}

@media (max-width:600px){
    .title{
        font-size:26px;
        width:200px;
        padding-left:60px;
    }

    .about-text h3{
        font-size:22px;
}
    .about-text{
        margin-top:120px;
    }
    .blue-line{
        margin-left:80px;
    }

}
.services-section {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 40px 0;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 30px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* ----------------------------service----------------------------- */
.service-box {
    padding: 20px;
    border-left: 4px solid #168FFF;  /* BLUE LINE */
}
.number {
    font-weight: bold;
    font-size: 22px;
    color: #111;
    margin-bottom: 10px;
    display: inline-block;
}

h3 {
    margin: 5px 0;
    color: #000;
}
.v{
    height:40px;
    width:40px;
    margin-right:10px;
    margin-bottom:20px;
}

p {
    margin-top:10px;
    color: #444;

}
/* ----------------------------service responsive--------------------------- */
@media (max-width: 900px) {
    .services-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .services-container {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: 28px;
    }

    .subtitle {
        font-size: 18px;
}
    .blue-line{
        margin-left: 60px;
    }
}
/* ------------------------------service-2-------------------------------------- */
.why-section{
    position: relative;
    padding: 80px 20px 40px;
    text-align: center;
}

.bg-text{
    font-size: 90px;
    font-weight: 800;
    color: rgb(239, 236, 236);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: -1;
}

.why-section h2{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.left, .right{
    width: 30%;
    min-width: 280px;
}

.box{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}

.box img{
    width: 40px;
    height: 40px;
}

.box h3{
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: bold;
}

.box p{
    font-size: 14px;
    line-height: 18px;
}


.center{
    width: 30%;
    display: flex;
    justify-content: center;
}

.big-img{
    width: 80%;
    max-width: 260px;
}

.blue-line{
    width: 100%;
    height: 5px;
    background-color: #1a73e8;
    margin-top: 30px;
}

/* ---------------------------service-2 responsive--------------------------- */
@media (max-width: 992px){
    .container{
        justify-content: center;
        text-align: center;
    }
    .left, .right{
        width: 45%;
    }
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .left, .right, .center{
        width: 100%;
        text-align: center;
    }
    .box{
        justify-content: center;
        text-align: left;
}
    .bg-text{
        font-size:50px;
        padding-top:25px;
        margin-left:30px;
    }
    .why-section h2{
        font-size: 20px;
        margin-left:50px;
    }
     .blue-line{
        margin-left: 60px;
    }
    

}
/* -------------------------testimonial-----------------------------------------*/
.testimonial-section {
    width: 100%;
    padding: 40px 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.left-box {
    flex: 1 1 350px;
    max-width: 420px;
}

.left-box h2 {
    font-size: 34px;
    font-weight: 700;
}

.left-box p {
    color: #555;
    margin-bottom: 20px;
}

.left-img {
    width: 240px;
    margin-top: 20px;
}

.cards-area {
    flex: 1 1 550px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.card {
    background: #fff;
    border-radius: 6px;
    padding: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    position: relative;
    width:500px;
}
.card p{
    width:400px;
}

.card1 {
    margin-left: 100px;
}

.card2 {
    margin-left: 0px;
}

.card3 {
    margin-left: 100px;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.quote-icon {
    width: 28px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.quote-icon2 {
    width: 28px;
    position: absolute;
    top: 12px;
    right: 30px;
}

.star-icon {
    width: 32px;
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.side-line {
    width: 8px;
    height: 100%;
    background: #007bff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px 0 0 8px;
}
.side-lines {
    width: 8px;
    height: 100%;
    background: lightgrey;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px 0 0 8px;
}

.right-img {
    width: 210px;
    position: absolute;
    right:0px;
    bottom:100px;
}


/* -----------------------testimonial responsive---------------------------- */
@media(max-width: 900px){

    .right-img {
        position: static;
        margin: 20px auto;
        display: block;
    }

    .card1, .card3 {
        margin-right: 0px;
    }
    .card{
        width:600px;
    }
    .card p{
        width:300px;
    }
    .left-img{
        width:120px;
        position: absolute;
        top:150px;
        left:10px;
    }
    .right-img{
        width:130px;
        position: absolute;
        left:580px;
        bottom:220px;
    }
    .left-box h2{
        padding-top:10px;
        width: 600px;
        padding-left:180px;
    }
    .left-box p{
        width:600px;
        padding-left:180px;
        font-size:22px;
    }
   
}

@media(max-width: 600px) {
    .testimonial-section {
        flex-direction: column;
        text-align: center;
    }


    .cards-area {
        max-width: 100%;
        margin: auto;
}
    .card{
        width:250px;
    }
    .card p{
        width:200px;
    }
    .left-img{
        width:120px;
        position: absolute;
        top:370px;
        left:10px;
    }
    .right-img{
        width:100px;
        position: absolute;
        left:290px;
        bottom:300px;
    }
    .left-box h2{
        padding-top:60px;
        padding-left:60px;
        width:270px;
    }
    .left-box p{
        padding-left:60px;
        width:270px;
    }
    .blue-line{
        margin-left: 40px;
    }
}
/* ----------------------------------map----------------------------------- */
.location{
    padding:50px;
}
iframe{
    height:200px;
    width:95%;
    border-radius:20px;
    margin-left:30px;;
}


/* ------------------------------------contact----------------------------------- */
.footer{
    background: #0A89D6;
    color: white;
    padding: 40px 20px;
    margin-bottom:20px ;
    color:white;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

/* Left */
.footer-left .logo{
    width: 60px;
    height: 60px;
    background: black;
    border-radius: 50%;
    margin-bottom: 10px;
}

.footer-left h2{
    font-size: 22px;
    margin-bottom: 10px;
}
.footer-left p{
    color:white;
}

.footer-links h3,
.footer-contact h3{
    font-size: 20px;
    margin-bottom: 10px;
    color:white;
}

.footer-links a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 6px;
    font-size: 16px;
}
.footer-contact p{
    color:white;
}


.footer-img img{
    width:180px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy p{
    text-align: center;
    font-size: 14px;
    color:white;
    display: flex;
    padding-top: 20px;
}
.copy i{
    text-align: center;
    font-size: 14px;
    color:white;
   
    padding-top: 30px;
    padding-right: 5px;
}
.para{
    display: flex;
}
.para i{
    padding-top: 8px;
    padding-right: 5px;
    font-size: 20px;
}
/*-------------------------------------contact responsive-------------------------------------------- */

@media (max-width: 992px){  
    .footer-container{
        justify-content: center;
        text-align: center;
    }

    .footer-img img{
        width: 150px;
        margin-top: 20px;
    }
    .footer{
         width:850px;
         padding:40px;
}
}

@media (max-width: 600px){  
    .footer-container{
        flex-direction: column;
        text-align: center;
        align-items: center;
}

    .footer-left h2{
        font-size: 20px;
}

    .footer-img img{
        width: 130px;
        margin-top: 20px;
}
    .footer{
        width:440px;
        margin: auto;
}
}